doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='LazyGuy Landing Page')
    meta(name='author', content='Pixelwars')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Marko Oksanen
    // FAV and TOUCH ICONS
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon', href='images/ico/apple-touch-icon.png')
    // FONTS
    link(rel='stylesheet', type='text/css', href='css/fonts/hk-grotesk/style.css')
    link(rel='stylesheet', type='text/css', href='css/fonts/fontello/css/fontello.css')
    // STYLES
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    // CONTENT-WRAP
    .content-wrap
      // CONTENT
      .content
        // PROFILE IMAGE
        img.profile-image.rounded(src='images/updated_pic2018.jpeg', alt='profile image of Marko')
        // TITLE
        h1
          | Hi, I am Marko
          br
          | Product Leader
          br
          | based in Helsinki.
        // TITLE
        // DESCRIPTION
        p
          | Independent hands-on Product Leader to help you with digital venturing. I come with a full-stack toolkit for Product Management, Lean, Agile, Design Thinking, Service Design & Growth Hacking. Currently building ventures with 
          a.link-1(href='https://www.coventures.io', target='_blank') Coventures
          | . Check it out!
        p
          | I’m 
          a.link-1(href='https://twitter.com/_Mark0', target='_blank') tweeting
          | , taking
          a.link-1(href='https://www.instagram.com/markooksanen/', target='_blank') photos
          |  and 
          a.link-1(href='https://www.linkedin.com/in/markooksanen/', target='_blank') writing
          |  about digital ventures and product management.
        p
          | For collaboration or questions; 
          br
          a.link-2(href='mailto:marko@coventures.io') marko@coventures.io
        p
          a.social-link.linkedin(href='https://www.linkedin.com/in/markooksanen/')
          a.social-link.facebook(href='https://www.facebook.com/marko.oksanen')
          a.social-link.twitter(href='https://twitter.com/_Mark0')
          // a class="social-link pinterest" href="#"></a
          // a class="social-link vimeo" href="#"></a
          a.social-link.instagram(href='https://instagram.com/markooksanen')
        // DESCRIPTION
        p
          #curator-feed-default-feed-layout
            a.crt-logo.crt-tag(href='https://curator.io', target='_blank') Powered by Curator.io
    // CONTENT
    // CONTENT-WRAP
    // SCRIPTS
    script(src='js/main.js')
    script(src='js/curator_feed.js')
