<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta name="description" content="LazyGuy Landing Page" />
    <meta name="author" content="Pixelwars">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>Marko Oksanen</title>
    
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon" href="images/ico/apple-touch-icon.png"/>
    
    <!-- FONTS -->
    <link rel="stylesheet" type="text/css" href="css/fonts/hk-grotesk/style.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/fontello/css/fontello.css">
    
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
	
    
    <!-- CONTENT-WRAP -->
    <div class="content-wrap">
    	
        <!-- CONTENT -->
        <div class="content">
    	
            <!-- PROFILE IMAGE -->
            <img class="profile-image rounded" src="../../../linkedin_kuva.jpeg" alt="profile image of Marko"/>
            
            <!-- TITLE -->
            <h1>
                Hi, I am Marko
                <br>Product Manager
                <br>based in Helsinki.
            </h1>
            <!-- TITLE -->
            
            <!-- DESCRIPTION -->
            <p>I like to develop new business, products, and services that make a difference. I speak the languages of tech, business, and customers and I use that for shaping amazing user experiences and new business through winning products.</p>
    
            <p>
              I’m <a class="link-1" href="https://twitter.com/_Mark0" target="_blank">tweeting</a>, taking
              <a class="link-1" href="https://www.instagram.com/markooksanen/" target="_blank">photos</a> and 
              <a class="link-1" href="https://blog.markooksanen.com" target="_blank">writing</a> about entrepreneurship.
            </p>
            
            <p>For collaboration or questions; <br>
            <a class="link-2" href="mailto:me@markooksanen.com">me@markooksanen.com</a></p>
            
            <p>
                <a class="social-link linkedin" href="https://www.linkedin.com/in/markooksanen/"></a>
            	<a class="social-link facebook" href="https://www.facebook.com/marko.oksanen"></a>
                <a class="social-link twitter" href="https://twitter.com/_Mark0"></a>
                <!--a class="social-link pinterest" href="#"></a-->
                <!--a class="social-link vimeo" href="#"></a-->
                <a class="social-link instagram" href="https://instagram.com/markooksanen"></a>
            </p>
    
            <!-- DESCRIPTION -->
        
        </div>
    	<!-- CONTENT -->
        
    </div>
    <!-- CONTENT-WRAP -->
	
	
    
    
    <!-- SCRIPTS -->
	<script src="js/main.js"></script>
    

</body>
</html>
