doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='LazyGuy Landing Page')
    meta(name='author', content='Pixelwars')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Marko Oksanen
    // FAV and TOUCH ICONS
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon', href='images/ico/apple-touch-icon.png')
    // FONTS
    link(rel='stylesheet', type='text/css', href='css/fonts/hk-grotesk/style.css')
    link(rel='stylesheet', type='text/css', href='css/fonts/fontello/css/fontello.css')
    // STYLES
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    // CONTENT-WRAP
    .content-wrap
      // CONTENT
      .content
        // PROFILE IMAGE
        img.profile-image.rounded(src='images/linkedin_kuva.jpeg', alt='profile image of Marko')
        // TITLE
        h1
          | Hi, I am Marko
          br
          | Product Leader
          br
          | based in Helsinki.
        // TITLE
        // DESCRIPTION
        p
          | I like to develop new business, products, and services that make a difference. I speak the languages of tech, business, and customers and I use that for shaping amazing user experiences and new business through winning products.
        p
          | I’m 
          a.link-1(href='https://twitter.com/_Mark0', target='_blank') tweeting
          | , taking
          a.link-1(href='https://www.instagram.com/markooksanen/', target='_blank') photos
          |  and 
          a.link-1(href='https://blog.markooksanen.com', target='_blank') writing
          |  about entrepreneurship.
        p
          | For collaboration or questions; 
          br
          a.link-2(href='mailto:me@markooksanen.com') me@markooksanen.com
        p
          a.social-link.linkedin(href='https://www.linkedin.com/in/markooksanen/')
          a.social-link.facebook(href='https://www.facebook.com/marko.oksanen')
          a.social-link.twitter(href='https://twitter.com/_Mark0')
          // a class="social-link pinterest" href="#"></a
          // a class="social-link vimeo" href="#"></a
          a.social-link.instagram(href='https://instagram.com/markooksanen')
        // DESCRIPTION
      // CONTENT
    // CONTENT-WRAP
    // SCRIPTS
    script(src='js/main.js')
